<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="'/home'">
                        <span class="fa fa-home"></span> 首頁
                    </a>
                </li>
                <li class="active">關於我們</li>
            </ol>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="section-title">
            <h2>關於我們</h2>
        </div>
    </div>
</div>

<div class="row row-bg">
    <div class="jumbotron bg1">
        <div class="container">
            <div class="col-xs-12 col-sm-6">
                <div class="bg1-text">
                    <h1>名稱由來</h1>
                    <br>
                    <p>我們希望這個網站能方便使用者查詢存貨，於是結合英文單字<b><span class="color1">sea</span>rch</b>、<b>s<span class="color2">to</span>ck</b>、<b><span class="color3">go</span></b>，將網站命名為"<b class="color1">sea</b><b class="color2">to</b><b class="color3">go</b>"。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-bg">
    <div class="jumbotron bg2">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                <div class="bg2-text">
                    <h1>發想理念</h1>
                    <br>
                    <p>有些時候走到商店，發現想購買的商品存貨沒了，但又不知道哪裡還有存貨只能一間間尋找，到頭來有可能浪費了時間又撲了空。所以我們希望能藉由架設一個網站，透過獲取消費者位置及各商店存貨量，來避免此一現象。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-bg">
    <div class="jumbotron bg3">
        <div class="container">
            <div class="col-xs-12 col-sm-6">
                <div class="bg3-text">
                    <h1>未來展望</h1>
                    <br>
                    <p>我們希望未來能透過和各店家合作，使可查詢存貨不侷限於特定店家，避免消費者浪費時間，同時也能增加小規模店家的曝光度，達到雙贏的局面。</p>
                </div>
            </div>
        </div>
    </div>
</div>
