<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="'/home'">
                        <span class="fa fa-home"></span> 首頁
                    </a>
                </li>
                <li class="active">聯繫我們</li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title">
            <h2>聯繫我們</h2>
            <br>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div class="thumbnail">
                    <img src="assets/imgs/seatogo_logo.png" style="height: 200px;" alt="">
                    <div class="caption">
                        <br><br>
                        <p>週一至週五 10:00am~18:00pm</p>
                        <br><br>
                        <p>客服信箱：<a href="mailto:service@seatogo.great-site.net">service@seatogo.great-site.net</a></p>
                        <br><br>
                        <p>若有任何疑問，歡迎聯繫！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
